body {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    box-sizing: border-box;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    margin: 5px;
}

.table-container {
    display: block;
    margin: 15% auto;
    margin-bottom: 0;
    max-width: 1600px;
    box-shadow: none;
}

.table-header, .table-row {
    display: flex;
    flex-direction: row;
    box-shadow: none;
}


.table-header div{
    background: #009485;
    color: #fff;
}

.table-row div{
    width: calc(100% / 5);
    text-align: center;
    padding: 0.5em 0.5em;
    overflow: hidden;
    transition: 0.8s;
}

.table-row div:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.table-row img{
    width: 23px;
}

.table-header div{
    width: calc(100% / 5);
    text-align: center;
    padding: 0.5em 0.5em;
}

#search{
    box-shadow: none;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
} 

#search-input{
    width: 180px;
    height: 1.5em;
    border: none;
    border-bottom: 2px solid #464D77;
    outline: none;
}

#search-button {
    color: white;
    border: none;
    background-color: #E94F37;
    height: 2em;
    width: 3.5em;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#search-button:active{
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

#count{
    display: none;
    text-align: center;
    background-color: #E36588;
    color: white;; 
    font-size: 2em;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

mark{
    background-color: #E94F37;
    color: white;
}

@media screen and (max-width: 420px) {
    .table-header{
        display: none;
    }
    .table-row{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .table-row div{
        width: 100%;
        text-align: start;
        /* border-left: solid 1px black; */
    }
    .table-container{
       margin-right: 20px;
       margin-left: 20px;
       border: none;
    }
    .table-row div:before {
        display: flex;
        /* border-bottom: solid 1px black; */
        margin: -.5em -.5em .75em -.5em;
        padding: .5em;
        content: attr(data-label);
        color: #fff;
        background: #009485;
    }
    #search-input{
        width: 90px;
    }
}



